<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="content-card">
            <h2>Memos</h2>
            <% if (locals.messages) { %>
                <% locals.messages.forEach(msg => { %>
                    <div class="inner-card">
                        <% const msgLink = "/messages/" + msg.id %>
                        <a href=<%= msgLink %>>
                            <h3 class="memo-text"><%= msg.text %></h3>
                            <div class="memo-info">
                                <p class="authorId">Posted by: <strong><%= msg.user %></strong></p>
                                <p class="publishDate"><%= msg.added %></p>
                            </div>
                        </a>
                    </div>  
                <% }) %>
            <% } %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>